.button-list {
  .button {
    margin-bottom: 10px;
  }
}

.card {
  .loader {
    height: 30px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: theme('screens.md')) {
  .button-list {
    display: flex;
    flex-direction: column;

    .button + .button {
      margin-left: 0;
    }
  }
}

.pagination + .data-table {
  margin: 50px 0 0;
}
