@layer components {
  .menu-button {
    display: none;
  }

  @media (max-width: theme('screens.lg')) {
    .menu-button {
      height: 100%;
      @apply w-16;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: '\e900';
        @apply font-icons;
        color: #000;
      }
    }

    .menu-button--close {
      &:before {
        content: '\e901';
      }
    }
  }
}
