.mobile-nav { display: none }

@media(max-width: $screen-md) {
  .mobile-nav {
    padding: 30px 25px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 60px;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--primary--dark);
    transition: right linear .2s;
    overflow-y: auto;
    z-index: 100;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .mobile-nav--show { right: 0; }

  .mobile-nav__item {
    a {
      color: #fff;
      display: flex;
      text-decoration: none;
      margin: 0 0;
      padding: 0 0;

      &:hover {
        color: #fff;
      }

      &:focus {
        background: transparent;
      }

      i {
        margin-right: 15px;
        padding-bottom: 7px;
        font-size: 18px;
        opacity: .3;
      }
    }
  }

  .mobile-nav__item--primary {
    &:last-of-type {
      > a {
        border-bottom: none;
      }
    }

    &.tree-item--active {
      > a {
        position: relative;
        display: flex;
        font-family: var(--primary-font);
        font-weight: bold;

        &:after {
          content: '';
          height: 3px;
          width: 40px;
          background-color: #fff;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    > a {
      padding: 15px 0px;
      border-bottom: solid 1px rgba(255, 255, 255, .1);
    }
  }

  .mobile-nav__item--secondary {
    &:first-of-type {
      > a {
        margin-top: 15px;
      }
    }

    &.tree-item--active {
      > a {
        font-family: var(--primary-font);
        font-weight: bold;

        i {
          opacity: 1;
          border-bottom: solid 3px;
        }
      }
    }

    > a {
      padding: 10px 0;
    }

    > ul {
      margin-left: 40px !important;
    }
  }

  .mobile-nav__item--tertiary {
    &:last-of-type {
      > a {
        margin-bottom: 15px;
      }
    }

    > a {
      padding: 10px 0;
    }
  }
}
