@layer components {
  .mobile-nav { display: none }

  @media(max-width: theme('screens.lg')) {
    .mobile-nav {
      @apply py-7 px-6;
      @apply w-full h-full;
      position: fixed;
      @apply top-16 -right-full;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @apply bg-primary-dark;
      transition: right linear .2s;
      overflow-y: auto;
      z-index: 100;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    .mobile-nav--show { right: 0; }

    .mobile-nav__item {
      a {
        color: #fff;
        display: flex;
        text-decoration: none;
        margin: 0 0;
        padding: 0 0;

        &:hover {
          color: #fff;
        }

        &:focus {
          background: transparent;
        }

        i {
          @apply mr-3.5;
          @apply pb-2;
          font-size: toRem(18px);
          opacity: .3;
        }
      }
    }

    .mobile-nav__item--primary {
      &:last-of-type {
        > a {
          border-bottom: none;
        }
      }

      &.tree-item--active {
        > a {
          position: relative;
          display: flex;
          @apply font-primary;
          @apply font-bold;

          &:after {
            content: '';
            height: 3px;
            @apply w-10;
            @apply bg-white;
            position: absolute;
            @apply bottom-0 left-0;
          }
        }
      }

      > a {
        @apply py-3 px-0;
        @apply border-b border-white/10;
      }
    }

    .mobile-nav__item--secondary {
      &:first-of-type {
        > a {
          @apply mt-3.5;
        }
      }

      &.tree-item--active {
        > a {
          @apply font-primary;
          @apply font-bold;

          i {
            opacity: 1;
            border-bottom: solid 3px;
          }
        }
      }

      > a {
        @apply py-2.5 px-0;
      }

      > ul {
        @apply ml-6 #{!important};
      }
    }

    .mobile-nav__item--tertiary {
      &:last-of-type {
        > a {
          @apply mb-3.5;
        }
      }

      > a {
        @apply py-2.5 px-0;
      }
    }
  }
}
