@layer components {
  .primary-nav {
    height: 100%;
    display: flex;
    align-items: center;

    ul {
      @apply m-0 mr-3.5;
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
      list-style: none;
    }
  }

  .primary-nav__item {
    @apply my-0 mx-5;
    height: 100%;
    display: flex;

    a {
      display: flex;
      position: relative;
      align-items: center;
      @apply text-main;
      text-decoration: none;
      z-index: 0;

      &:hover,
      &:focus {
        @apply text-primary;
      }

      &:focus {
        @apply text-primary;
        @apply bg-accessibility-highlight;

        &:before    {
          height: 100%;
          width: calc(100% + 20px);
          position: absolute;
          top: 0;
          left: -10px;
          content: '';
          @apply bg-accessibility-highlight;
          z-index: -1;
        }
      }
    }
  }

  .primary-nav__item--active {
    a {
      position: relative;
      @apply text-primary;
      @apply font-bold;

      &:after {
        content: '';
        height: 3px;
        width: 40px;
        @apply bg-primary;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  @media (max-width: theme('screens.lg')) {
    .primary-nav {
      display: none;
    }
  }
}
