@layer components {
  $secondary-nav-width: theme('spacing.56');
  .secondary-nav {
    min-width: $secondary-nav-width;
    width: $secondary-nav-width;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
    }

    & + .content {
      max-width: calc(100% - $secondary-nav-width);
    }
  }

  .secondary-nav__item {
    margin-bottom: 20px;
    @apply mb-5;

    a {
      display: flex;
      align-items: flex-start;
      @apply text-main;
      text-decoration: none;
      line-height: 1.5;

      // improve keyboard navigation
      padding: 2px 5px;
      position: relative;
      left: -2px;

      &:hover,
      &:focus {
        @apply text-primary;
      }

      i {
        @apply mr-3.5;
        @apply pb-2;
        font-size: toRem(18px);
        line-height: 1.5;
      }

      &:focus {
        background: theme('colors.accessibility-highlight');
      }
    }
  }

  .secondary-nav__item--active {
    a {
      @apply text-primary;
      @apply font-primary;
      @apply font-bold;

      i {
        border-bottom: solid 3px;
      }
    }
  }

  @media (max-width: theme('screens.lg')) {
    .secondary-nav {
      display: none;
    }
  }
}
