<div id="color-picker" class="color-picker drop drop--up">
    <button class="color-picker__button drop__button">Changer le thème 🎨</button>
    <form name="color-picker" class="color-picker__content drop__menu">
        <ul>
            <li>
                <label for="color-value">Couleur principale :</label>
                <input type="color" id="color-value" name="primary-color" value="#4053ec">
            </li>
        </ul>
    </form>
</div>
