<div id="color-picker" class="color-picker drop drop--down">
    <button class="color-picker__button drop__button">🎨</button>
    <form name="color-picker" class="color-picker__content drop__menu">
        <input type="color" id="color-value" name="primary-color" value="#4053ec">
    </form>
</div>
