html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  font-size: 1.6rem;
  color: var(--text);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0 auto;
  padding: 40px 25px;
  width: 100%;
  max-width: 1900px;
  display: flex;
  flex: 1;
}

.content {
  padding: 0 60px;
  flex: 1;
}

.content__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin: 0 0 5px;
  }

  .title {}

  .actions {
    display: flex;
  }
}

@media(max-width: $screen-md) {
  main {
    padding: 0;
    flex-direction: column;
  }

  .content {
    padding: 0;
    max-width: unset;
  }

  .container {
    padding: 0 20px;
  }
}

@media (max-width: $screen-sm) {
  .content__header {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;

    .infos,
    .actions {
      width: 100%;
    }

    .infos {
      margin: 0 0 30px;
      justify-content: space-between;
    }

    .actions {
      width: 100%;
      flex-wrap: wrap;

      .button {
        margin: 5px;
        flex: 1;
      }
    }
  }
}
