:root {
  --primary: #4053ec;
  --primary--dark: #353c79;
  --text: #73748F;
  --text--dark: #676881;
  --text--light: #9a9a9e;
  --text--lighter: #b7b7bc;
  --border: #edeefa;
  --border--dark: #d2d4f2;
  --background: #fafaff;
  --background--dark: #e2e4f7;
  --disabled: #edeefa;
  --success: #00c291;
  --warning: #e6ac00;
  --danger: #ef4055;
  --info: #219ebc;
  --accessibility-highlight: #edeefa;
  // hide accessibility highlight : --accessibility-highlight: transparent
  --primary-font: 'Work Sans';
}

$screen-sm: 750px;
$screen-md: 1000px;
