a {
  color: var(--primary);
  text-decoration: none;
  transition: color ease-in-out .1s;

  &:hover {
    color: var(--primary--dark);
  }

  &:focus {
    outline: none;
    background-color: var(--accessibility-highlight);
  }
}
