@layer base {
  a {
    @apply text-primary;
    text-decoration: none;
    transition: color ease-in-out .1s;

    &:hover {
      @apply text-primary-dark;
    }

    &:focus {
      outline: none;
      @apply bg-accessibility-highlight;
    }
  }
}
