dl {
  display: grid;
  grid: auto-flow / 200px 1fr;
}

dt,
dd {
  margin: 0 0 7px;
}

dt {
  font-weight: 900;
}

dd {}

@media (max-width: 750px) {
  dl {
    grid: auto-flow / 1fr;
  }

  dd {
    margin: 0 0 20px;
  }
}
