@layer base {
  h1/*, .h1*/,
  h2/*, .h2*/,
  h3/*, .h3*/,
  h4/*, .h4*/,
  h5/*, .h5*/,
  h6/*, .h6*/,
  {
    /**
      All heading elements are completely unstyled by default,
      and have the same font-size and font-weight as normal text.
      @see https://tailwindcss.com/docs/preflight#headings-are-unstyled

      In our design-system, we choose to use an emphasized font-weight,
      so fetch the bold font-weight from the theme:
     */
    font-weight: theme('fontWeight.bold');
  }

  h1, .h1 {
    margin: 0 0 theme('spacing[7]');
  }

  h2, .h2 {
    margin: theme('spacing[10]') 0 theme('spacing[7]');
  }

  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin: theme('spacing[7]') 0 theme('spacing[5]');
  }

  h1, .h1 {
    @apply text-h1;
  }

  h2, .h2 {
    @apply text-h2;
  }

  h3, .h3 {
    @apply text-h3;
  }

  h4, .h4 {
    @apply text-h4;
  }

  h5, .h5 {
    @apply text-h5;
  }

  h6, .h6 {
    @apply text-h6;
  }
}
