@layer base {
  table {
    width: 100%;
    @apply text-sm;
    border-collapse: collapse;

    a {
      @apply font-primary;
      @apply font-semibold;
      text-decoration: none;
    }
  }

  tr {
    vertical-align: top;
  }

  td {
    @apply py-5 px-4;
    font-weight: normal;
    text-align: left;
  }

  thead {
    tr {
      @apply border-b;
      @apply rounded-t-lg;
      background-color: #fff;
    }

    th {
      @apply p-4;
      width: 70px;
      font-weight: normal;
      text-align: left;
      white-space: nowrap;

      &:first-of-type {
        @apply rounded-tl-lg;
      }

      &:last-of-type {
        @apply rounded-tr-lg;
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: #fff;
      }

      &:last-of-type {
        @apply rounded-b-lg;

        td:first-of-type {
          @apply rounded-bl-lg;
        }

        td:last-of-type {
          @apply rounded-br-lg;
        }
      }
    }
  }
}

/*
  Custom extra classes that can be used in the table,
  and must be defined outside of the base layer since not only styling the HTML elements.

  @see https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles
 */
table {
  .number,
  .action {
    text-align: right;
  }

  thead {
    tr {
      @apply border-b;
      @apply rounded-t-lg;
      background-color: #fff;
    }

    th {
      &.large {
        width: unset;
      }
    }
  }
}
