@layer base {
  textarea {
    height: 150px;
    background: #fff;
    transition: border-color ease-in .15s;
    @apply border;
    @apply rounded;
    @apply p-3.5;
    @apply text-sm;
    @apply text-dark;
    @apply font-primary;

    &:hover {
      @apply border-dark;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      @apply border-dark;
    }

    &[disabled],
    &.disabled {
      opacity: .6;
      cursor: not-allowed;

      &:hover,
      &:focus {
        @apply border-base;
      }
    }
  }
}
