.header {
  padding: 0 25px;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px $border;
  background-color: #fff;
  z-index: 100;

  .logo {
    height: 50%;
    display: flex;
    align-items: center;
    font-family: $primary-font--bold;
    color: $secondary;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
  }
}

@media(max-width: $screen-xs) {
  .header {
    margin-bottom: 30px;
    padding: 0 30px;
    justify-content: space-between;
  }
}
