.header {
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px $border;
  box-shadow: 0 5px 10px 0 rgba(242, 242, 248, 1);
  background-color: #fff;
  z-index: 100;

  .logo {
    height: 50%;
    display: flex;
    align-items: center;
    font-family: 'lato bold';
    font-size: 1.4rem;
    color: $text;
    text-transform: uppercase;
    letter-spacing: .4px;
    text-decoration: none;
    white-space: nowrap;
  }
}

@media(max-width: $screen-xs) {
  .header {
    padding: 0 20px;
    justify-content: space-between;
  }
}
