.main-nav {
  height: 100%;
  display: flex;
  align-items: center;

  ul {
    margin: 0 0 0 15px;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.main-nav__item {
  margin: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid 3px transparent;

  a {
    height: 50%;
    display: flex;
    align-items: center;
    color: $text--light;
    text-decoration: none;
    transition: color ease-in-out .15s;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.main-nav__item--active {
  border-bottom: solid 2px $primary;

  a {
    color: $primary;
  }
}
