@font-face {
  font-family: 'lato bold';
  src: url('../../fonts/lato-bold.woff2') format('woff2'),
       url('../../fonts/lato-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato light';
  src: url('../../fonts/lato-light.woff2') format('woff2'),
       url('../../fonts/lato-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lato regular';
  src: url('../../fonts/lato-regular.woff2') format('woff2'),
       url('../../fonts/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
