@font-face {
  font-family: 'work sans light';
  src: url('../../fonts/worksans-light.woff2') format('woff2'),
       url('../../fonts/worksans-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work sans regular';
  src: url('../../fonts/worksans-regular.woff2') format('woff2'),
       url('../../fonts/worksans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work sans semibold';
  src: url('../../fonts/worksans-semibold.woff2') format('woff2'),
       url('../../fonts/worksans-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
