$primary: #4053ec;
$secondary: #353c79;

$text: #787893;
$text--secondary: #000;
$text--light: #9a9a9e;

$border: #edeefa;
$border--dark: #000;

$background: #fafaff;

$screen-xs: 750px;

$primary-font: 'work sans regular';
$primary-font--light: 'work sans light';
$primary-font--bold: 'work sans semibold';
