$primary: #4053ec;
$primary--dark: #353c79;
$danger: #e02020;
$success: #00cc99;

$text: #73748F;
$text--light: #9a9a9e;
$text--lighter: #b7b7bc;

$border: #edeefa;
$background: #fafaff;

$screen-xs: 750px;

$primary-font: 'work sans regular';
$primary-font--light: 'work sans light';
$primary-font--bold: 'work sans semibold';
