<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Elao Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/build/assets/images/favicon.svg" />
        <title>Hello DefaultController!</title>
                    <link rel="stylesheet" href="/elao-admin/build/app.b1020b23.css">
                            <script src="/elao-admin/build/runtime.44b84a05.js" defer></script><script src="/elao-admin/build/619.fcfeabbc.js" defer></script><script src="/elao-admin/build/app.d2010fba.js" defer></script>
            </head>
    <body class="theme-demo">
                    <header class="header">
                <a href="/elao-admin/" class="logo">ADMIN ELAO</a>
                
    <nav class="primary-nav">
        <ul>
                                                        <li class="primary-nav__item ">
                    <a href="/elao-admin/" class="">
                                Accueil
            </a>
            </li>

                                <li class="primary-nav__item primary-nav__item--active">
                    <a href="/elao-admin/components" class="">
                                Composants
            </a>
            </li>

                    </ul>
    </nav>
                
                        <div class="user-menu drop drop--down">
                <button class="user-menu__button drop__button">
                    <span class="icon icon--user"></span>                    Amélie D.                </button>
                <ul class="user-menu__content drop__menu">
                                                <li class=" ">
                    <a href="#profile" class="">
                                Profil
            </a>
            </li>

                                                <li class=" ">
                    <a href="#logout" class="">
                                Déconnexion
            </a>
            </li>

                                    </ul>
            </div>
                            <button class="menu-button"></button>
            </header>
            <div class="mobile-nav">
        <ul class="tree">
                            <li class="mobile-nav__item mobile-nav__item--primary tree-item ">
                    <a class="" href="/elao-admin/">
                                                Accueil
                    </a>
                                    </li>
                            <li class="mobile-nav__item mobile-nav__item--primary tree-item mobile-nav__item--active">
                    <a class="" href="/elao-admin/components">
                                                Composants
                    </a>
                                    </li>
                            <li class="mobile-nav__item mobile-nav__item--primary tree-item ">
                    <a class="" href="#profile">
                                                Profil
                    </a>
                                    </li>
                            <li class="mobile-nav__item mobile-nav__item--primary tree-item ">
                    <a class="" href="#logout">
                                                Déconnexion
                    </a>
                                    </li>
                    </ul>
    </div>
                <main>
                                
    <nav class="secondary-nav">
        <ul>
                                                        <li class="secondary-nav__item secondary-nav__item--active">
                    <a href="#" class="">
                                Secondary nav
            </a>
            </li>

                                <li class="secondary-nav__item ">
                    <a href="#" class="">
                                Propositions en cours de traitement
            </a>
            </li>

                                <li class="secondary-nav__item ">
                    <a href="#" class="">
                                Propositions archivées
            </a>
            </li>

                                <li class="secondary-nav__item ">
                    <a href="#" class="">
                                Contrats
            </a>
            </li>

                                <li class="secondary-nav__item ">
                    <a href="#" class="">
                                Paiements
            </a>
            </li>

                                <li class="secondary-nav__item ">
                    <a href="#" class="">
                                Stocks
            </a>
            </li>

                    </ul>
    </nav>
                <div class="content">
                        <nav class="tertiary-nav">
        <ul>
            <li class="tertiary-nav__item tertiary-nav__item--active">
                <a href="#">Tertiary nav</a>
            </li>
            <li class="tertiary-nav__item">
                <a href="#">Conditionnement</a>
            </li>
            <li class="tertiary-nav__item">
                <a href="#">Stockage</a>
            </li>
            <li class="tertiary-nav__item">
                <a href="#">Transport</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h2>Breadcrumbs</h2>
        <ul class="breadcrumb">
            <li class="breadcrumb__item">
                <a href="#">Retour à la liste</a>
            </li>
        </ul>
        <ul class="breadcrumb">
            <li class="breadcrumb__item">
                <a href="#">Maiores laborum</a>
            </li>
            <li class="breadcrumb__item">
                <a href="#">Quas nihil accusantium</a>
            </li>
            <li class="breadcrumb__item">
                <a href="#">Corporis esse</a>
            </li>
        </ul>

        <h2>Messages d'alerte</h2>
        <div class="alert alert--success">Tout va bien</div>
        <div class="alert alert--danger">Rien ne va plus</div>

        <h2>Titres</h2>
        <h1>h1 magnam illum accusamus nemo</h1>
        <h2>h2 magnam illum accusamus nemo</h2>
        <h3>h3 magnam illum accusamus nemo</h3>
        <h4>h4 magnam illum accusamus nemo</h4>
        <h5>h5 magnam illum accusamus nemo</h5>
        <h6>h6 magnam illum accusamus nemo</h6>

        <h2>Cards</h2>
        <div class="data-cards">
            <div class="card">
                <span>120</span>
                Utilisateurs actifs
            </div>
            <div class="card">
                <span>18k</span>
                Visiteurs
            </div>
        </div>

        <h2>Tableaux</h2>
        <div class="data-table">
            <div class="collapse">
                <div class="content-header">
                    <div class="content-header__title">
                        <h1>Titre du tableau</h1>
                        <span class="h3">Sous-titre du tableau</span>
                    </div>
                    <div class="content-header__actions">
                        <button class="button button--neutral collapse__trigger animated-button animated-button--equalizer">
                            <div class="icon icon--animated icon--equalizer">
                                <div class="icon--equalizer__bar"></div>
                                <div class="icon--equalizer__bar"></div>
                                <div class="icon--equalizer__bar"></div>
                            </div>
                            Filtrer
                        </button>
                        <button class="button button--neutral">
                            <i class="icon icon--share" aria-hidden="true"></i>
                            Exporter
                        </button>
                        <button class="button button--primary">
                            Ajouter
                        </button>
                    </div>
                </div>
                <div class="data-table__filters collapse__menu">
                    <div class="filters">
                        <form>
                            <div class="form">
                                <label>Start date</label>
                                <input type="date" value="2020-12-01">
                            </div>
                            <div class="form">
                                <label>End date</label>
                                <input type="date" value="2020-12-01">
                            </div>
                            <div class="form">
                                <label for="select">Pays</label>
                                <div class="select">
                                    <select id="select">
                                        <option>France</option>
                                        <option>Egypte</option>
                                        <option>Pérou</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form">
                                <select id="" name="" multiple="multiple">
                                    <option value="">Prévi</option>
                                    <option value="">Ferme Directe</option>
                                    <option value="">K2</option>
                                    <option value="">MJC</option>
                                    <option value="">Musique Music</option>
                                    <option value="">Tribu</option>
                                </select>
                            </div>
                            <div class="form">
                                <select id="" name="" multiple="multiple">
                                    <option value="">Prévi</option>
                                    <option value="">Ferme Directe</option>
                                    <option value="">K2</option>
                                    <option value="">MJC</option>
                                    <option value="">Musique Music</option>
                                    <option value="">Tribu</option>
                                </select>
                            </div>
                            <button class="button button--primary">Filtrer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="data-table__content">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th class="large">Nom</th>
                            <th class="large">E-mail</th>
                            <th>Rôle</th>
                            <th class="number">Premium jusqu'au</th>
                            <th>Statut</th>
                            <th class="action"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2345</td>
                            <td><a href="#">Megan Rapinoe</a></td>
                            <td>meg@uswnt.com</td>
                            <td>Utilisateur</td>
                            <td class="number">31/08/2020</td>
                            <td class="text-success">Actif</td>
                            <td class="action">
                                <div class="drop drop--left">
                                    <button class="drop__button tooltip tooltip--top" data-tooltip="Choisir une action">
                                        <i class="icon icon--bullets" aria-hidden="true"></i>
                                        <span class="sr-only">Choisir une action</span>
                                    </button>
                                    <ul class="drop__menu">
                                        <li>
                                            <a href="#">Consulter</a>
                                        </li>
                                        <li>
                                            <a href="#">Éditer</a>
                                        </li>
                                        <li>
                                            <a href="#">Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2345</td>
                            <td><a href="#">Bailey Faulkner</a></td>
                            <td>bfaulkner@uswnt.com</td>
                            <td>Utilisateur</td>
                            <td class="number">31/08/2020</td>
                            <td class="text-danger">Inactif</td>
                            <td class="action">
                                <div class="drop drop--left">
                                    <button class="drop__button tooltip tooltip--top" data-tooltip="Choisir une action">
                                        <i class="icon icon--bullets" aria-hidden="true"></i>
                                        <span class="sr-only">Choisir une action</span>
                                    </button>
                                    <ul class="drop__menu">
                                        <li>
                                            <a href="#">Consulter</a>
                                        </li>
                                        <li>
                                            <a href="#">Éditer</a>
                                        </li>
                                        <li>
                                            <a href="#">Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2345</td>
                            <td><a href="#">Megan Rapinoe</a></td>
                            <td>meg@uswnt.com</td>
                            <td>Utilisateur</td>
                            <td class="number">31/08/2020</td>
                            <td class="text-success">Actif</td>
                            <td class="action">
                                <div class="drop drop--left">
                                    <button class="drop__button tooltip tooltip--top" data-tooltip="Choisir une action">
                                        <i class="icon icon--bullets" aria-hidden="true"></i>
                                        <span class="sr-only">Choisir une action</span>
                                    </button>
                                    <ul class="drop__menu">
                                        <li>
                                            <a href="#">Consulter</a>
                                        </li>
                                        <li>
                                            <a href="#">Éditer</a>
                                        </li>
                                        <li>
                                            <a href="#">Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2345</td>
                            <td><a href="#">Matthew Griffin</a></td>
                            <td>mattg@uswnt.com</td>
                            <td>Utilisateur</td>
                            <td class="number">31/08/2020</td>
                            <td class="text-warning">En cours</td>
                            <td class="action">
                                <div class="drop drop--left">
                                    <button class="drop__button tooltip tooltip--top" data-tooltip="Choisir une action">
                                        <i class="icon icon--bullets" aria-hidden="true"></i>
                                        <span class="sr-only">Choisir une action</span>
                                    </button>
                                    <ul class="drop__menu">
                                        <li>
                                            <a href="#">Consulter</a>
                                        </li>
                                        <li>
                                            <a href="#">Éditer</a>
                                        </li>
                                        <li>
                                            <a href="#">Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2345</td>
                            <td><a href="#">Matthew Griffin</a></td>
                            <td>mattg@uswnt.com</td>
                            <td>Utilisateur</td>
                            <td class="number">31/08/2020</td>
                            <td class="text-success">Actif</td>
                            <td class="action">
                                <div class="drop drop--left">
                                    <button class="drop__button tooltip tooltip--top" data-tooltip="Choisir une action">
                                        <i class="icon icon--bullets" aria-hidden="true"></i>
                                        <span class="sr-only">Choisir une action</span>
                                    </button>
                                    <ul class="drop__menu">
                                        <li>
                                            <a href="#">Consulter</a>
                                        </li>
                                        <li>
                                            <a href="#">Éditer</a>
                                        </li>
                                        <li>
                                            <a href="#">Supprimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--
            Pagination

            Todo :
                - .pagination__item--active on current element
        -->
        <ul class="pagination">
            <li class="pagination__item pagination__item--previous pagination__item--disabled">
                <a href="#">
                    <i class="icon icon--chevron-left" aria-hidden="true"></i>
                    <span>Précédent</span>
                </a>
            </li>
            <li class="pagination__item pagination__item--active">
                <a href="#">1</a>
            </li>
            <li class="pagination__item">
                <a href="#">2</a>
            </li>
            <li class="pagination__item">
                <a href="#">3</a>
            </li>
            <li class="pagination__ellipsis">
                <i class="icon icon--bullets" aria-hiddent="true"></i>
                <span class="sr-only">...</span>
            </li>
            <li class="pagination__item sm-hidden">
                <a href="#">13</a>
            </li>
            <li class="pagination__item sm-hidden">
                <a href="#">14</a>
            </li>
            <li class="pagination__item">
                <a href="#">15</a>
            </li>
            <li class="pagination__item pagination__item--next">
                <a href="#">
                    <i class="icon icon--chevron-right" aria-hidden="true"></i>
                    <span>Suivant</span>
                </a>
            </li>
        </ul>

        <div class="data-table">
            <div class="content-header">
                <div class="content-header__title">
                    <h1>Tableau en chargement</h1>
                    <span class="h3">NB : il est possible de n'avoir que certaines cellules en cours de chargement</span>
                </div>
            </div>
            <div class="data-table__content">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th class="large">Nom</th>
                            <th class="large">E-mail</th>
                            <th>Rôle</th>
                            <th class="number">Premium jusqu'au</th>
                            <th>Statut</th>
                            <th class="action"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td class="number"><span class="loader loader--text"></span></td>
                            <td class="text-success"><span class="loader loader--text"></span></td>
                            <td class="action"></td>
                        </tr>
                        <tr>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td class="number"><span class="loader loader--text"></span></td>
                            <td class="text-success"><span class="loader loader--text"></span></td>
                            <td class="action"></td>
                        </tr>
                        <tr>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td><span class="loader loader--text"></span></td>
                            <td class="number"><span class="loader loader--text"></span></td>
                            <td class="text-success"><span class="loader loader--text"></span></td>
                            <td class="action"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2>Icônes de base du thème admin</h2>
        <div class="data-table">
            <div class="data-table__content">
                <table>
                    <thead>
                        <tr>
                            <th>Icône</th>
                            <th>Classe</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i class="icon icon--menu" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--menu</td>
                            <td>\e900</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--cross" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--cross</td>
                            <td>\e901</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--chevron-up" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--chevron-up</td>
                            <td>\e902</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--chevron-down" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--chevron-down</td>
                            <td>\e903</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--chevron-left" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--chevron-left</td>
                            <td>\e904</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--chevron-right" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--chevron-right</td>
                            <td>\e905</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--arrow-up" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--arrow-up</td>
                            <td>\e906</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--arrow-down" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--arrow-down</td>
                            <td>\e907</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--arrow-left" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--arrow-left</td>
                            <td>\e908</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--arrow-right" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--arrow-right</td>
                            <td>\e909</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--user" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--user</td>
                            <td>\e90a</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--check" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--check</td>
                            <td>\e90b</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--bullets" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--bullets</td>
                            <td>\e90c</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--add" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--add</td>
                            <td>\e90d</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--edit" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--edit</td>
                            <td>\e90e</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--delete" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--delete</td>
                            <td>\e90f</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--send" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--send</td>
                            <td>\e910</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--show" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--show</td>
                            <td>\e911</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--hide" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--hide</td>
                            <td>\e912</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--calendar" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--calendar</td>
                            <td>\e913</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--duplicate" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--duplicate</td>
                            <td>\e914</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--share" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--share</td>
                            <td>\e915</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--link" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--link</td>
                            <td>\e916</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--document" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--document</td>
                            <td>\e917</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--search" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--search</td>
                            <td>\e918</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--reload" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--reload</td>
                            <td>\e919</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--filter" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--filter</td>
                            <td>\e91a</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon icon--download" aria-hidden="true"></i>
                            </td>
                            <td>icon icon--download</td>
                            <td>\e91b</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2>Formulaires</h2>
        <!-- Basic form groups -->
        <div class="form">
            <label for="input">Prénom</label>
            <input type="text" placeholder="Jane">
        </div>
        <div class="form">
            <label for="select">Pays</label>
            <div class="select">
                <select id="select">
                    <option>France</option>
                    <option>Egypte</option>
                    <option>Pérou</option>
                </select>
            </div>
        </div>
        <div class="form">
            <label for="select">Select disabled</label>
            <div class="select select--disabled">
                <select id="select" disabled>
                    <option>France</option>
                </select>
            </div>
        </div>
        <div class="form">
            <label for="select">Select loading</label>
            <div class="select select--loading">
                <div class="loader loader--ellipsis" role="alert">
                    <span class="sr-only">En cours de chargement</span>
                    <i aria-hidden="true"></i>
                    <i aria-hidden="true"></i>
                    <i aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="form">
            <label for="select">Select multiple</label>
            <select id="" name="" multiple="multiple" class="select--multiple">
                <option value="">Prévi</option>
                <option value="">Ferme Directe</option>
                <option value="">K2</option>
                <option value="">MJC</option>
                <option value="">Musique Music</option>
                <option value="">Tribu</option>
            </select>
        </div>
        <div class="form">
            <label for="select">Select multiple loading</label>
            <div class="select select--multiple select--loading">
                <div class="loader loader--ellipsis" role="alert">
                    <span class="sr-only">En cours de chargement</span>
                    <i aria-hidden="true"></i>
                    <i aria-hidden="true"></i>
                    <i aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="form">
            <label for="message">Message</label>
            <textarea id="message"></textarea>
        </div>
        <!-- Error on input -->
        <div class="form form--danger">
            <label for="input">Adresse</label>
            <input type="text">
            <span class="error">Vous avez déclenché une catastophe</span>
        </div>
        <!-- Checkbox & disabled -->
        <div class="form checkbox">
            <input type="checkbox" id="cucumber">
            <label for="cucumber">Concombre</label>
        </div>
        <div class="form checkbox disabled">
            <input type="checkbox" id="feta" disabled>
            <label for="feta">Feta</label>
        </div>
        <!-- Radio & disabled -->
        <div class="form radio disabled">
            <input type="radio" id="oil" name="sauce" disabled>
            <label for="oil">Huile</label>
        </div>
        <div class="form radio">
            <input type="radio" id="vinegar" name="sauce">
            <label for="vinegar">Vinaigre</label>
        </div>
        <!-- Switch -->
        <div class="form switch">
            <input type="checkbox" id="switch">
            <label for="switch">
                <span class="switch__slider"></span>
                Sur place
            </label>
        </div>

        <h2>Boutons</h2>
        <div class="button-list">
            <button href="#" class="button button--neutral">
                <i class="icon icon--filter" aria-hidden="true"></i>
                Neutral
            </button>
            <button href="#" class="button button--neutral">Neutral</button>
            <button href="#" class="button button--danger">
                <i class="icon icon--delete" aria-hidden="true"></i>
                Danger
            </button>
            <button href="#" class="button button--danger">Danger</button>
            <button href="#" class="button button--primary">
                Primary
                <i class="icon icon--download" aria-hidden="true"></i>
            </button>
            <button href="#" class="button button--primary">Primary</button>
            <button href="#" class="button button--primary">
                <i class="icon icon--download" aria-hidden="true"></i>
            </button>
        </div>
        <div class="button-list">
            <button href="#" class="button button--neutral" disabled>Neutral disabled</button>
            <button href="#" class="button button--neutral" disabled>
                <i class="icon icon--filter" aria-hidden="true"></i>
                Neutral disabled
            </button>
            <button href="#" class="button button--danger" disabled>
                <i class="icon icon--delete" aria-hidden="true"></i>
                Danger disabled
            </button>
            <button href="#" class="button button--danger" disabled>Danger</button>
            <button href="#" class="button button--primary" disabled>Primary disabled</button>
            <button href="#" class="button button--primary" disabled>
                <i class="icon icon--download" aria-hidden="true"></i>
                Primary disabled
            </button>
        </div>
        <div class="button-list">
            <button href="#" class="button button--neutral" disabled>
                <div class="loader loader--spin" role="alert">
                    <span class="sr-only">En cours de chargement</span>
                </div>
            </button>
            <button href="#" class="button button--primary" disabled>
                <div class="loader loader--spin loader--neutral" role="alert">
                    <span class="sr-only">En cours de chargement</span>
                </div>
            </button>
        </div>

        <h2>Tooltips</h2>
        <div class="button-list">
            <a href="#" class="button button--neutral tooltip tooltip--top" data-tooltip="Tooltip du haut">
                Tooltip en 👆
            </a>
            <a href="#" class="button button--neutral tooltip tooltip--right" data-tooltip="Tooltip de droite">
                Tooltip à 👉
            </a>
            <a href="#" class="button button--neutral tooltip tooltip--bottom" data-tooltip="Tooltip du bas">
                Tooltip en 👇
            </a>
            <a href="#" class="button button--neutral tooltip tooltip--left" data-tooltip="Tooltip de gauche">
                Tooltip à 👈
            </a>
        </div>

        <h2>Tags</h2>
        <span class="tag">Tag</span>
        <span class="tag tag--success">Validé</span>
        <span class="tag tag--danger">Rejeté</span>
        <span class="tag tag--info">Info</span>
        <span class="tag tag--warning">Alerte</span>

        <h2>Éléments en cours de chargement</h2>
        <div class="data-cards">
            <div class="card">
                <span>
                    <div class="loader loader--spin" role="alert">
                        <span class="sr-only">En cours de chargement</span>
                    </div>
                </span>
                Spinner
            </div>
            <div class="card">
                <span>
                    <div class="loader loader--ellipsis" role="alert">
                        <span class="sr-only">En cours de chargement</span>
                        <i aria-hidden="true"></i>
                        <i aria-hidden="true"></i>
                        <i aria-hidden="true"></i>
                    </div>
                </span>
                Ellipsis
            </div>
            <div class="card">
                <span>
                    <span class="loader loader--text"></span>
                </span>
                Loading text
            </div>
        </div>

        <h3>Fenêtre modal</h3>
        <button class="button button--primary" data-modal="#demo-modal">Open modal</button>
        <div class="modal" id="demo-modal" role="dialog" aria-labelledby="modal-title">
            <div class="modal-content">
                <header class="modal__header">
                    <span class="h3">Modal title</span>
                    <button class="close">
                        <i class="icon icon--cross" aria-hidden="true"></i>
                    </button>
                </header>
                <div class="modal__main">
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit ?</strong></p>
                    <p>Proin elementum lacus eu ante fermentum, eu gravida diam ultrices. Curabitur sagittis tincidunt mi, sed luctus neque imperdiet nec.</p>
                </div>
                <footer class="modal__actions">
                    <button href="#" class="button button--danger">Cancel</button>
                    <button href="#" class="button button--primary">Confirm</button>
                </footer>
            </div>
        </div>
    </div>
                </div>
                    </main>
        <footer class="footer">
                            <p>Admin de démonstration ©2021 <a href="https://www.elao.com/">Elao</a> </p>
                <div id="color-picker" class="color-picker drop drop--up">
    <button class="color-picker__button drop__button">Changer le thème 🎨</button>
    <form name="color-picker" class="color-picker__content drop__menu">
        <ul>
            <li>
                <label for="color-value">Couleur principale :</label>
                <input type="color" id="color-value" name="primary-color" value="#4053ec">
            </li>
        </ul>
    </form>
</div>

                    </footer>
    </body>
</html>
