.icon--equalizer {
  width: 17px;
  cursor: pointer;
}

.icon--equalizer__bar {
  margin: 4px 0;
  height: 2px;
  width: 100%;
  position: relative;
  background: theme('colors.primary.DEFAULT');
  border-radius: 1px;

  &:before {
    position: absolute;
    top: 50%;
    width: 4px;
    height: 5px;
    content: '';
    background: theme('colors.primary.DEFAULT');
    transform: translateY(-50%);
    border-radius: 1px;
    transition: left ease-in .25s;
  }

  &:nth-of-type(1):before { left: 15%; }
  &:nth-of-type(2):before { left: 60%; }
  &:nth-of-type(3):before { left: 30%; }
}
