.tree {}

.tree-item__trigger {
  padding-right: 20px;
  position: relative;
  display: flex;
  align-items: center;

  &:before {
    position: absolute;
    right: 0;
    font-family: base-icons;
    font-size: 13px;
    content: '\e903';
  }
}

.tree-item__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease .4s;
}

.tree-item--active {
  > .tree-item__trigger {
    &:before {
      content: '\e902';
    }
  }

  > .tree-item__content {
    max-height: inherit;
  }
}
