@media (max-width: 750px) {
  .menu-button {
    &:before {
      font-family: 'base-icons';
      content: '\e900';
    }
  }

  .menu-button--close {
    // ⬇ Retirer cette partie (surcharge l'ancien thème qui n'utilisait pas d'icône ici)
    &:before,
    &:after {
      height: unset;
      width: unset;
      position: static;
      content: '';
      background-color: transparent;
      transform: none;
    }

    &:after {
      display: none;
    }
    // ⬆ Retirer cette partie (surcharge l'ancien thème qui n'utilisait pas d'icône ici)

    &:before {
      content: '\e901';
    }
  }
}
