.secondary-nav {
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.secondary-nav__item {
  a {
    // improve keyboard navigation
    padding: 2px 5px;
    position: relative;
    left: -2px;

    &:focus {
      background: var(--accessibility-highlight);
    }
  }
}
