.menu-button {
  display: none;
}

@media (max-width: $screen-md) {
  .menu-button {
    height: 100%;
    width: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '\f0c9';
      font-family: "fontello";
      color: #000;
    }
  }

  .menu-button--close {
    &:before,
    &:after {
      height: 18px;
      width: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      background-color: #000;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
