@layer components {
  .alert {
    @apply mt-2.5 mb-7;
    @apply py-2.5 px-7;
    min-height: theme('spacing[12]');
    display: flex;
    align-items: center;
    color: #fff;
    @apply rounded;
  }

  .alert--success { background: theme('colors.success.DEFAULT'); }
  .alert--danger { background: theme('colors.danger.DEFAULT'); }
}
