.button {
  padding: 0 30px;
  height: 48px;
  min-width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: color ease-in-out .2s, border-color ease-in-out .2s;

  .icon {
    margin-right: 12px;
    font-size: 21px;
    color: var(--text--lighter);
  }
}

.button--neutral {
  color: var(--primary--dark);
  background-color: #fff;
  border: solid 1px #dfdfe7;

  .icon {
    color: var(--primary);
  }

  &:hover {
    border-color: var(--primary);
  }
}

.button--primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover {
    color: #fff;
    background-color: var(--primary--dark);
    border-color: var(--primary--dark);
  }
}

.button--danger {
  color: var(--primary--dark);
  background-color: #fff;
  border: solid 1px #dfdfe7;

  .icon {
    color: var(--danger);
  }

  &:hover {
    border-color: var(--danger);
  }
}

.button + .button {
  margin-left: 20px;
}

@media (max-width: $screen-sm) {
  .button {
    padding: 0 20px;
    height: 45px;
    min-width: 135px;
  }
}
