.card {
  padding: 25px 35px 30px;
  font-size: toRem(14px);
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  border: solid 1px var(--border);
  border-radius: 10px;

  span {
    margin: 0 0 10px;
    display: flex;
    justify-content: center;
    font-size: toRem(72px);
    color: var(--primary);
    text-transform: unset;
    line-height: 1;
  }
}
