@layer components {
  .card {
    @apply py-6 px-9;
    @apply text-sm;
    @apply uppercase;
    @apply text-center;
    @apply bg-white;
    @apply border;
    @apply rounded-lg;

    span {
      margin: 0 0 theme('spacing[2.5]');
      display: flex;
      justify-content: center;
      @apply text-7xl;
      @apply text-primary;
      text-transform: unset;
      line-height: 1;
    }
  }
}
