.data-table {
  margin: 0 0 50px;
}

.data-table__filters {
  > .filters {
    margin: 0 0 50px;
  }
}

.data-table__content {
  border: solid 1px var(--border);
  border-radius: 10px;
  overflow-x: auto;

  .drop__button {
    border-radius: 3px;

    &:focus {
      background-color: var(--accessibility-highlight);
    }
  }
}
