@layer components {
  .data-cards {
    margin: 0 0 theme('spacing.9');
    display: flex;
    flex-wrap: wrap;

    .card {
      @apply mr-7 mb-3.5;
    }
  }

  @media (max-width: theme('screens.md')) {
    .data-cards {
      .card {
        margin-right: 0;
        width: 100%;
      }
    }
  }
}
