.data-table {
  margin: 0 0 50px;
}

.data-table__filters {
  > .filters {
    margin: 0 0 50px;
  }
}

.data-table__content {
  border: solid 1px var(--border);
  border-radius: 10px;
}

@media (max-width: $screen-md) {
  .data-table__content {
    overflow-x: auto;
  }
}

