.data-table {
  margin: 0 0 50px;
}

.data-table__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin: 0;
  }

  .title {
    display: flex;
    align-items: center;

    .link {
      margin-left: 20px;
    }
  }

  .actions {
    display: flex;
  }
}

.data-table__content {
  border: solid 1px var(--border);
  border-radius: 10px;
}

@media (max-width: $screen-md) {
  .data-table__content {
    overflow-x: auto;
  }
}

@media (max-width: $screen-sm) {
  .data-table__header {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;

    .infos,
    .actions {
      width: 100%;
    }

    .infos {
      margin: 0 0 30px;
      justify-content: space-between;
    }

    .actions {
      justify-content: flex-end;
    }
  }
}
