.drop {
  position: relative;
}

.drop__button {
  padding: 0;
  width: 100%;
  display: inline-block;
  font-size: toRem(16px);
  color: var(--text);

  .icon {
    color: var(--text--lighter);
    font-size: toRem(18px);
    transition: color ease-in-out .2s;
  }

  &:hover {
    .icon {
      color: var(--text--dark);
    }
  }
}

.drop__menu {
  margin: 0;
  padding: 0;
  min-width: 190px;
  position: absolute;
  display: none;
  list-style: none;
  text-align: left;
  border: solid 1px var(--border);
  border-radius: 6px;
  background: #fff;

  li {
    display: flex;
    line-height: 1.4;

    &:first-of-type {
      a { padding-top: 12px; }
    }

    &:last-of-type {
      a { padding-bottom: 15px; }
    }


    a {
      padding: 7px 25px;
      width: 100%;
      font-family: var(--font--primary);
      color: var(--text);
      font-size: toRem(14px);
      font-weight: normal;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

.drop--down {
  .drop__menu {
    margin-top: 7px;
    top: 100%;
    right: 0;
  }
}

.drop--up {
  .drop__menu {
    margin-bottom: 7px;
    bottom: 100%;
    right: 0;
  }
}

.drop--left {
  .drop__menu {
    top: 0;
    right: 100%;
  }
}

.drop--right {
  .drop__menu {
    top: 0;
    left: 100%;
  }
}

.drop--show {
  .drop__menu {
    display: block;
  }
}
