@layer components {
  .footer {
    @apply mt-10;
    @apply py-3.5 px-6;
    @apply h-16;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    @apply border-t;
  }

  @media (max-width: theme('screens.md')) {
    .footer {
      height: unset;
      text-align: center;

      > * {
        margin: 0 auto theme('spacing.1');
      }
    }
  }
}
