@layer components {
  .form {
    margin: 0 0 theme('spacing.5');
    display: flex;
    flex-direction: column;
  }

  .form--danger {
    input,
    .select,
    textarea {
      @apply border-danger;

      &:hover {
        @apply border-danger;
      }
    }

    .error {
      margin: theme('spacing.1') 0 theme('spacing[2.5]');
      @apply text-danger;
      @apply text-sm;
    }
  }
}
