.form {
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
}

.form--danger {
  input,
  .select,
  textarea {
    border-color: var(--danger);

    &:hover {
      border-color: var(--danger);
    }
  }

  .error {
    margin: 5px 0 10px;
    color: var(--danger);
    font-size: toRem(13px);
  }
}
