@layer components {
  .header {
    @apply py-0 px-6;
    @apply h-16;
    display: flex;
    align-items: center;
    @apply border-b;
    background-color: #fff;
    z-index: 100;

    .logo {
      height: 50%;
      display: flex;
      align-items: center;
      @apply font-primary;
      @apply font-bold;
      @apply text-primary-dark;
      @apply uppercase;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  @media(max-width: theme('screens.lg')) {
    .header {
      @apply mb-7;
      @apply p-0 pl-7;
      justify-content: space-between;
    }
  }
}
