@layer components {
  .modal {
    position: fixed;
    @apply inset-0;
    display: none;
    justify-content: center;
    @apply bg-black/25;
    z-index: 9999;

    .modal-content {
      margin: auto 20px;
      min-height: 300px;
      max-height: calc(100vh - 400px);
      max-width: 1000px;
      width: 100%;
      display: flex;
      flex-direction: column;
      background: #fff;
      @apply border;
      @apply rounded-lg;
      @apply shadow-md;
    }
  }

  .modal__header,
  .modal__footer {
    position: relative;
    z-index: 1;
  }

  .modal__header {
    height: 60px;
    @apply p-4;
    position: relative;
    display: flex;
    align-items: center;
    @apply border-b;
    box-shadow: 0 7px 7px rgb(0, 0, 0, .03);

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      margin: 0;
    }

    .close {
      position: absolute;
      right: 15px;
      @apply top-1/2;
      @apply text-main;
      @apply -translate-y-1/2;
    }
  }

  .modal__main {
    @apply p-4;
    flex: 1;
    overflow: auto;
  }

  .modal__actions {
    @apply p-4;
    display: flex;
    justify-content: flex-end;
    @apply border-t;
    box-shadow: 0 -7px 7px rgb(0, 0, 0, .03);
  }

  .modal--open {
    display: flex;
  }

  @media (max-width: theme('screens.md')) {
    .modal {
      .modal-content {
        margin: 0;
        max-height: unset;
        border-radius: 0;
      }
    }

    .modal__actions {
      flex-direction: column;

      .button + .button {
        @apply m-0 mt-2.5;
      }
    }
  }
}
