@layer components {
  .radio {
    display: flex;

    &:hover {
      label {
        &:before {
          @apply border-dark;
        }
      }
    }

    &[disabled],
    &.disabled {
      label {
        cursor: not-allowed;

        &:before {
          opacity: .6;
        }
      }

      &:hover,
      &:focus {
        label:before {
          @apply border-base;
        }
      }
    }

    input[type="radio"] { display: none; }

    label {
      margin: 0;
      @apply pl-7;
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      @apply text-main;
      cursor: pointer;

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        background-color: #fff;
        border: solid 1px theme('borderColor.DEFAULT');
        border-radius: theme('borderRadius.full');
        transition: border-color ease-in .15s;
      }
    }

    input[type="radio"]:checked + label {
      &:after {
        position: absolute;
        top: 4px;
        left: 4px;
        content: '';
        background-color: theme('colors.primary.DEFAULT');
        width: 12px;
        height: 12px;
        border-radius: theme('borderRadius.full');
      }
    }
  }
}
