@layer components {
  .tag {
    padding: 5px 10px;
    height: 30px;
    font-size: theme('fontSize.xs');
    color: #fff;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    background: theme('colors.primary.DEFAULT');
    border-radius: theme('borderRadius.DEFAULT');
  }

  .tag--success { background: theme('colors.success.DEFAULT'); }
  .tag--danger { background: theme('colors.danger.DEFAULT'); }
  .tag--warning { background: theme('colors.warning.DEFAULT'); }
  .tag--info { background: theme('colors.info.DEFAULT'); }
}
