.user-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user-menu__button {
  padding: 0 15px;
  height: 50%;
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: 14px;
  letter-spacing: .8px;
  transition: color ease-in-out .15s;

  &:hover,
  &:focus {
    color: var(--primary);

    .icon {
      color: var(--primary);
    }
  }
}

.user-menu__button--notification {
  .icon {
    margin-right: 5px;
    position: relative;

    &:after {
      width: 8px;
      height: 8px;
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      background: var(--danger);
      border-radius: 50%;
    }
  }
}

@media (max-width: $screen-md) {
  .user-menu {
    display: none;
  }
}
