.user-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user-menu__button {
  height: 50%;
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: 14px;
  letter-spacing: .8px;
  transition: color ease-in-out .15s;

  &:hover,
  &:focus {
    color: var(--primary);
  }
}

@media (max-width: $screen-md) {
  .user-menu {
    display: none;
  }
}
