@layer components {
  .user-menu {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .user-menu__button {
    padding: 0;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    @apply text-main;
    @apply text-sm;
    letter-spacing: .8px;
    transition: color ease-in-out .15s;
    z-index: 0;

    .icon {
      margin-right: 0.5em;
    }

    &:hover,
    &:focus {
      @apply text-primary;

      .icon {
        @apply text-primary;
      }
    }

    &:focus {
      @apply bg-accessibility-highlight;

      &:before {
        height: 100%;
        width: calc(100% + 20px);
        position: absolute;
        top: 0;
        left: -10px;
        content: '';
        @apply bg-accessibility-highlight;
        z-index: -1;
      }
    }
  }

  .user-menu__button--notification {
    .icon {
      margin-right: 5px;
      position: relative;

      &:after {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        @apply bg-danger;
        @apply rounded-full;
      }
    }
  }

  .user-menu__content {
    margin-right: -10px;
    margin-top: 5px !important;
  }

  @media (max-width: theme('screens.lg')) {
    .user-menu {
      display: none;
    }
  }
}
