<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Elao Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/build/assets/images/favicon.svg" />
        <title>{% block title 'Elao Admin' %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="{% block body_class 'theme-demo' %}">
        {% block header %}
            <header class="header">
                <a href="{{ path('dashboard') }}" class="logo">ADMIN ELAO</a>
                {% include '@ElaoAdminTheme/layout/nav_primary.html.twig' with { menu: [
                    { route: 'dashboard', label: 'Dashboard' },
                    { route: 'user_list', label: 'Utilisateurs', root: 'user' },
                    { route: 'components', label: 'Composants' },
                ] } %}
                {% include '@ElaoAdminTheme/layout/nav_user.html.twig' with { user: 'Amélie D.', menu: [
                    { url: '#profile', label: 'Profil' },
                    { url: '#logout', label: 'Déconnexion' },
                ] } %}
                <button class="menu-button"></button>
            </header>
        {% include '@ElaoAdminTheme/layout/nav_mobile.html.twig' with { menu: [
            { route: 'dashboard', label: 'Dashboard' },
            { route: 'user_list', label: 'Utilisateurs', root: 'user' },
            { route: 'components', label: 'Composants' },
            { url: '#profile', label: 'Profil' },
            { url: '#logout', label: 'Déconnexion' },
        ] } %}
        {% endblock %}
        <main>
            {% block main %}
                <div class="content">
                    {% block content '' %}
                </div>
            {% endblock %}
        </main>
    </body>
</html>
