.table { overflow-x: auto; }

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;

  a {
    font-family: 'work sans semibold';
    text-decoration: none;
  }
}

tr {
  &:nth-of-type(even) {
    background-color: #fff;
  }
}

td {
  padding: 20px 16px;
  font-weight: normal;
  text-align: left;
}

thead {
  tr {
    border-bottom: solid 1px $border;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
  }

  th {
    padding: 16px;
    width: 70px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;

    &:first-of-type { border-top-left-radius: 10px; }
    &:last-of-type { border-top-right-radius: 10px; }

    &.large { width: unset; }
  }
}
