.button {
  vertical-align: top;
}

.button--danger {
  color: var(--primary--dark);
  background-color: #fff;
  border: solid 1px #dfdfe7;

  .icon {
    color: var(--danger);
  }

  &:hover {
    border-color: var(--danger);
  }
}

.button--primary {
  .icon {
    color: #fff;
  }
}
